div{
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	border:0px;
	display:block;
}

.heading{
	height:60px;	
	margin:0 0 1em 0 ;
	padding:0 0 0.125em 0 ;
	border-bottom:0.0625em solid #cccccc;
}

.heading>div{
	display: inline-block;
	vertical-align: middle;
	padding:1.5em 0 0 0 ;
}

.heading>div:nth-child(1){
	font-size:0.75em;
}

.heading>div>h1{
	display: flex;
}

.heading>div:nth-child(2){
	margin-left:3%;
}
	
.header{
	top:0px;
	right:0px;
	width:100%;
	height:10vh;
	position:fixed;
	background: linear-gradient(to right, #ffffff 18.5%,  #7db533 18.41%);
	display: table;
}

.header>div{
	vertical-align:middle;
	display: table-cell;
	box-sizing: border-box;
}

#content{
	width: 100%;
	clear: both;
	margin:0 1.5em 1.9375em 1.5em;
	-webkit-border-radius: 0.625em;
	-moz-border-radius: 0.625em;
	border-radius: 0.625em;
	border: 0.0625em solid #C8C8C8;
	box-shadow:0px 0px 2px 2px #C8C8C8;
	min-height:77vh;
	display:flex;
}

#left{ 
    float:left;width: 20%;
	text-align:center;
	background:hsla(86, 70%, 63%, 0.8);
	padding:1em 1.875em 0.75em 2.25em; 
}

nav div{line-height:3em; text-align:center; color:#000;background: linear-gradient(to bottom, #89be4a ,#70a030);border-bottom: 1px solid #87B44C;}
nav div div{line-height:3em; text-align:center; color:#fff;background: linear-gradient(to bottom ,#70a030,#659e19);border-bottom: 1px solid #87B44C;}
nav div div:hover{ color:#fff; line-height:3em;text-align:center;position:relative;background: linear-gradient(to bottom,#95d640,#8acc33);}
nav div div:active{ color:#fff; line-height:3em;text-align:center;position:relative;background: linear-gradient(to bottom,#95d640 ,#8acc33);}
nav div div div{color:#000;height:3em;line-height:3em;text-align:center;background: linear-gradient(to bottom,#fdfdfd,#dbebac);border-bottom: 1px solid #87B44C;}
nav div div div:hover{color:#000;height:3em;line-height:3em;text-align:center;background: linear-gradient(to bottom,#7c855a, #fdfdfd,#7c855a);}
.manubutton{border:0px solid #000; position:fixed;top:150px; left:0px; background: linear-gradient(to bottom, rgba(153,171,55,0.5) 0%,rgba(153,171,55,0.8) 100%);}

#right{
    padding: 15px 25px 50px 25px;
    overflow-y: hidden;
	border-radius: 15px;
	margin: 1em 2em 1.25em 2em;
}

#right>form>div{height:100%;}

.footering {
	bottom: 0;	
	clear: both;
	width:100%;
	height:60px;
	color: #333;
	font-size:1.25em ;
	padding-top: 20px;
	text-align: center;
	vertical-align:middle;
}
.backg{
	background: linear-gradient(to bottom, #8cbd4a, #80b13b 50%, #7db533 90%);
}
.pagination{
	margin:20px 100px 20px 100px;
	text-align: right;
}

.pagination>a{
	padding:5px;
	color:#017501;
}
.pagination>a:link{
	color:#000000;
}
.pagination>a:visited{
	color:#000000;
}
.pagination>a:hover{
	color:#017501;
}
.pagination>a:active{
	color:#017501;
}

.pagination>a:first-child{
	color:#017501;	
}

.pagination>a:last-child{
	color:#017501;
}	


.pagination>input{
	border:1px solid #ccc;
}	


/***********表格 CSS 主要設定***********/
.list{ 
	text-align="left";
}
.list>div{
	height:20px;
}

.side{
}
.side>div{ 
	height:2.5em;
	line-height:2.5em;
	display:block;
}
.inline_jump_color>div>div:nth-child(odd){
	background-color:#f5f4e4;
	}
	
	
.table_jump_color>div{
	border-style:solid;
	border-color:#ffffff; 
	border-left:0.0625em solid #87B44C;
	border-right:0.0625em solid #87B44C;
	}
.table_jump_color>div>div{
	border-right:0.0625em solid #cccccc;
	}
.table_jump_color>div:nth-child(odd){
	background-color:rgb(242, 249, 214);
	}
.table_jump_color>div:nth-child(even){
	background-color:#FFFFFF;
	}
.table_jump_color>div:first-child{
    background-color:rgb(135, 180, 76);
	padding:0.125em 0;
	color:#ffffff;
	font-weight: bold;
	font-size: 1em;	
	}

.table_jump_color>div>div:last-child{
	border-right:none;
	}	
.table_jump_color>div:last-child{
	border-bottom:0.0625em solid #87B44C;
	}
	
.thead{background-color:rgb(135, 180, 76);}	
	
.table_jump_straight_color>div:nth-child(odd){
	background-color:rgb(242, 249, 214);
	border-right:0.0625em solid #cccccc;
	}	
	
.table_jump_straight_color>div:nth-child(even){
	background-color:#FFFFFF;
	border-right:0.0625em solid #cccccc;
	}



.one{
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
	font-size: 2em;
	color:#182711;	
	font-weight:bold;
}
.header div span{
	width: 100%;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color:#182711;	
}

.header>div>div>img{
	
	height:6.6vh;
}	


.header>div>div{
	font-size: 0.625em;
	font-weight: bold;
	text-align:center;
}	

.header_polygon {
	width:2%;
	height:100%;
	background:#ffffff ;
	clip-path: polygon(0% 0%, 0% 100%,30% 100%, 85% 50%,30% 0%,0% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%,30% 100%, 85% 50%,30% 0%,0% 0%);
	points:0 0, 0 100,15 100, 32 50,15 0,0 0;
}

.tag{
	height:0.625vh;
	line-height:0.625vh;
	background-color:#87b44c;
	color: #fff;
	padding: 10px 10px;
	margin: 0 0.125em 0 0.125em;
	font-weight: bold;
	text-decoration: none;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
	border: solid 1px #87b44c;
	border-bottom: 0;
	border-radius: 12px 12px 0 0;
	display: inline-block;
}

.list_table{
	font-size: 1.25em;
	
}
.list_table>div{
	height:2.5em;
	line-height:2.5em;
	display:block;
	justify-content: left;
	align-items: center; 
}
.list_table>div>div{
	display: inline-block;
}
.list_table>div>div>div{
	display:block;
}
.list_table>div>div>div>div{
	display: inline-block;
}



.horizontal_row>div{
	display: inline-block;
}

.horizontal_row>div{
	display: inline-block;
}


.treelist>div>div>div>div>div{
	margin-left:-30px;
}
.treelist>div>div>div>div>div>div{
	margin-left:-55px;
}
.treelist>div>div>div>div>div:first-child{
	margin-left:30px;
}
.treelist>div>div>div>div>div>div:first-child{
	margin-left:30px;
}

.table_list{
    width: 100%;
    display: table;
    font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
	color:#545454;
	font-weight:bolder;
}
.table_list>div{
    height: 2.5em;
    display: table-row;
    outline: none;
    vertical-align: middle;
}
.table_list>div>div{
    display: table-cell;
    vertical-align: inherit;
}
.table_list>div>div>div{
	display:inline;
	box-sizing: border-box;
}


.table{
    width: 100%;
    display: table;
    font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
	padding:2px;
	color:#545454;
	font-weight:bolder;
}


.table>div{
    height: 2.5em;
    display: table-row;
    outline: none;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: middle;
}
.table>div>div{
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
	padding:2px;
}
.table>div>div>div{
	display:inline;
	box-sizing: border-box;
}
.table>div>div>div>input{
    font-size:0.875em;
	margin-right:1.25em;
}