html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-text-size-adjust:none;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
body, autocomplete {
	font-size: 12px;
}
input[type='text'], input[type='password'] {
	padding: 2px;
}
select {
	padding: 1px;
}
a, a:visited {
	color: #003366;
	text-decoration: underline;
	cursor: pointer;
}
a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
p {
	margin:0cm;
}

#search {
	position: relative;
	right: 0px;
}
#search .button-search {
	position: absolute;
	left: 0px;
	padding-right: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#search .button-search2 {
	position: absolute;
	left: 0px;
	padding-right: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#search input {
	background: #FFF;
	height: 18px;
	padding-left: 28px;
	border: 1px solid #CCCCCC;
}
#search select {
	background: #FFF;
	height: 24px;
	padding-left: 28px;
	border: 1px solid #CCCCCC;
}

.image {
	border: 1px solid #EEEEEE;
	padding: 10px;
	display: inline-block;
}
.image img {
	margin-bottom: 5px;
}

.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 5px;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a {
	text-decoration: underline;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
	background: #FFFFFF;
}
.list tbody tr:hover td {
	background-color: #FFFFCB;
}
.list .left {
	text-align: left;
	padding: 5px;
}
.list .right {
	text-align: right;
	padding: 5px;
}
.list .center {
	text-align: center;
	padding: 5px;
}

.list tr.filter td, .list tr:hover.filter td {
	padding: 5px;
	background: #E7EFEF;
}

.pagination {
	display: inline-block;
	width: 100%;
	padding-top: 0px;
}
.pagination .links {
	float: left;
	padding-top: 0px;
}
.pagination .links a {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 0px;
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}
table.form > tbody > tr > td:first-child {
	width: 200px;
}
table.form > tbody > tr > td {
	padding: 5px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}
.content {
	padding: 5px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
}

.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 1px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
