
#page .pagination1 {padding: 10px; text-align: left;}
.pagination1 a {margin: 0; padding: 3px 6px; border: 1px solid #777;text-decoration:none;}
.pagination1 a:hover,.pagination a.current {border-color: #000 !important;background:#ddd;}
#footer {
	background: #FFFFFF url('../image/footer.png') repeat-x;
	height: 40px;    
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}

#search {
	position: relative;
	right: 0px;
}
#search .button-search {
	position: absolute;
	left: 0px;
	padding-right: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#search input {
	background: #FFF;
	height: 18px;
	padding-left: 28px;
	border: 1px solid #CCCCCC;
}
#search select {
	background: #FFF;
	height: 24px;
	padding-left: 28px;
	border: 1px solid #CCCCCC;
}

.button-sear{
	position: absolute;
	left: 0px;
	padding-right: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-left: 1px solid #CCCCCC;
	cursor: pointer;
}

.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #E7EFEF url('../image/success.png') 10px center no-repeat;
	border: 1px solid #E7EFEF;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.help {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	border: 1px solid #EEEEEE;
	padding: 10px;
	display: inline-block;
}

.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	/*新增空白*/
	/* background: url('../image/box.png') repeat-x; */
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box1 {
	width: 400px;
	margin-bottom: 15px;
}
.box > .heading1 {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: url('../image/box.png') ;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box1 > .heading1 h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-size: 16px;
	float: left;
}


.box2 {
	margin-bottom: 15px;
}
.box2 > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	/*綜覽空白*/
	/*background: url('../image/box.png') repeat-x; */
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box2 > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 18px;
	float: left;
}

.box2 > .heading .button {
	float: right;
	margin-top:   7px;
	padding-top:  7px;   
    margin-left: 5px;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
}


.box > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 18px;
	float: left;
}

.box > .heading .buttons {
	float: right;
	padding-top: 7px;
	margin-right: 5px;
}
.box > .heading .buttons .button {
	margin-left: 5px;
}
.box > .content h2 { 
	text-transform: uppercase;
	color: #FF802B;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 1px dotted #000000;	
}
.box > .content {
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
	
}
a.button {
    text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 4px 5px 4px 5px;
	margin-right:5px;
	/* background: #003A88; */
	background-image: linear-gradient(#3C8DBC, #3C8DBC);
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 10px 10px 0px 0px;
	box-shadow:0px 0px 1px 1px #3C8DBC;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
.list a.button {
	text-decoration: none;
	color: #FFF;
	
	display: inline-block;
	padding: 4px 5px 4px 5px;
	/*background: #003A88; */
	background-image: linear-gradient(#3C8DBC, #3C8DBC);
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
.button {
	text-decoration: none;
	color: #FFF;
	text-shadow: 0px 0px 0px #ffffff;
	/*text-shadow: 1px 1px 0px #ffffff;*/
	display: inline-block;
	padding: 4px 5px 4px 5px;
	/*background: #003A88; */
	background-image: linear-gradient(#3C8DBC, #3C8DBC);
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;   
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 0px 0px;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	/*  background-color: #6495ED; */
	background-color: #89B248; 
	padding: 0px 5px;
	color:#ffffff;
}
.list1 {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list1 td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list1 thead td {
	/*background-color: #B3D5F6; */
	background-color: #89B248; 
	padding: 5px 5px;
	color:#848484;
}

.list1 thead td a, .list1 thead td {
   /* background-color: #B3D5F6; */
	background-color: #89B248;
	text-decoration: none;
	/*color: #848484; */
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
}
.list1 tbody td a {
	/*text-decoration: underline; */
	text-decoration: none; 
}
.list1 tbody td {
	vertical-align: middle;
	padding: 5px 5px;
	background: #FFFFFF;
}
.list1 tbody tr:hover td {
	background-color: #FFFFCB;
}
.list1 .left {
	text-align: left;
	padding: 7px;
}
.list1 .right {
	text-align: right;
	padding: 7px;
}
.list1 .center {
	text-align: center;
	padding: 7px;
}
.list thead td a, .list thead td {
   /* background-color: #6495ED; */
    background-color: #89B248;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
}
.list tbody td a {
	/*text-decoration: underline; */
	text-decoration: none;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
	background: #FFFFFF;
}
.list tbody tr:hover td {
	background-color: #FFFFCB;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list tr.filter td, .list tr:hover.filter td {
	padding: 5px;
	background: #E7EFEF;
}
.pagination {
	border-top: 1px solid #DDDDDD;
	display: inline-block;
	width: 100%;
	padding-top: 6px;
}
.pagination .links {
	float: left;
	padding-top: 6px;
}
.pagination .links a {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: left;
	padding-top: 6px;
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	
}
table.form > tbody > tr > td:first-child {
	width: 200px;
	background: #FFFFFF;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
	background: #FFFFFF;
}
table.form14 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
td.normal14y {
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background: #F4F7E6;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
}
td.normal14z {
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background: #F4F7E6;
	border-bottom: 1px dotted #CCCCCC;
}
table.form14 > tbody > tr > td.normal14 {
	padding: 5px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form14 > tbody > tr > td.start14 {
	padding: 5px;
	color: #000080;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form14 > tbody > tr > td.normal14a {
	padding: 5px 0px 5px 5px;
	color: #000000;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form14 > tbody > tr > td.start14a {
	padding: 5px;
	color: #000080;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form14 > tbody > tr > td.normal14b {
	padding: 5px 0px 5px 5px;
	color: #A32D87;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;	
}
table.form14 > tbody > tr > td.start14b {
	padding: 5px;
	color: #A32D87;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 > tbody > tr > td.normal12 {
	padding: 5px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 > tbody > tr > td.start12 {
	padding: 5px;
	color: #000080;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 > tbody > tr > td.normal12a {
	padding: 5px;
	color: #000000;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 > tbody > tr > td.start12a {
	padding: 5px;
	color: #000080;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 > tbody > tr > td.normal12b {
	padding: 5px;
	color: #A32D87;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
table.form12 > tbody > tr > td.start12b {
	padding: 5px;
	color: #A32D87;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #FFFFFF;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}

.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.htabs14 {
	padding: 10px 0px 0px 10px;
	color: #FFFFFF;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
	font-family: 新細明體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #A9C4F5;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.vtabs {
	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	float: left;
	display: block;
	border-right: 1px solid #DDDDDD;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	display: block;
	float: left;
	width: 160px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #F7F7F7;
	padding: 6px 14px 7px 15px;
	font-family: 微軟正黑體, 細明體, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.vtabs a.selected {
	padding-right: 15px;
	background: #FFFFFF;
}

.vtabs-content {
	margin-left: 205px;
}
.accordion-heading {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.accordion-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.accordion-content {
	padding: 0px 0px 15px 0px;
	overflow: auto;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
.overview {
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 49%;
	margin-bottom: 20px;
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 11px;
}
.latest {
	clear: both;
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	background: #547C96;
	color: #FFF;
	border-bottom: 1px solid #8EAEC3;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}
.dashboard-content {
	background: #FCFCFC;
	border: 1px solid #8EAEC3;
	padding: 10px;
	min-height: 180px;
}
.refresh {
	cursor: pointer;
	position: relative;
	top: 3px;
}
ul, li {
	margin: 0;             /* jquery 標籤分頁  */
	padding: 0;
	list-style: none;
}
.abgne_tab {
	clear: left;
	width: 100%;
	margin: 10px 0;
}
ul.tabs {
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}
ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
	border: 1px solid #999;
	border-left: none;
	/*background: #e1e1e1; */
	/*background: #87b44c; */
	background: linear-gradient(#3C8DBC, #3C8DBC);
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
ul.tabs li a {
	display: block;
	padding: 0 20px;
	 color: #fff; 
   /* background: linear-gradient(#3C8DBC, #3C8DBC);*/	
	border: 1px solid #fff;
	text-decoration: none;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
ul.tabs li a:hover {
	/*background: #ccc; */
	/*background: linear-gradient(#3C8DBC, #3C8DBC); */
	color:#FFFFFF;
	
}
ul.tabs li.active  {
	background: #87B44C; 
	/*background: linear-gradient(#3C8DBC, #3C8DBC); */
	color:#3C8DBC;
	border-bottom: 1px solid #fff;
}
ul.tabs li.active a:hover {
	 /*background: #fff; */
	/*background: linear-gradient(#3C8DBC, #3C8DBC);*/
	/*color: #3C8DBC;*/
}
div.tab_container {
	clear: left;
	width: 100%;
	border: 1px solid #999;
	border-top: none;
	background: #fff;
}
div.tab_container .tab_content {
	padding: 20px;
}
div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}
#browbg {
	background-color: #F4F9D9;
	background: #F4F9D9;
}
/* brow 2,4,6顏色*/
table.list tbody tr:nth-child(even) td{
	background-color: #F4F9D9;
}
#footercontainer
{
   width:100%;
   font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
   height:40px;
  /* background: linear-gradient(to bottom, #8cbd4a, #80b13b 50%,  #87b44c 90%); */
   background: linear-gradient(to bottom, #8cbd4a, #80b13b 50%, #7db533 90%);
   position: fixed;
   bottom: 0px;
   padding-top: 13px;
   color: #333;
   text-align: center;
   vertical-align:middle;
  /* padding-top: 1.875em; */
  
   text-decoration:none;   
}
/* 輸入不要方框  */
/*
input{border: 0px;outline:none;cursor: pointer;}
input:focus {outline:#1E90FF solid 0.5px;border: 0.5px solid #1E90FF;}
*/