@charset "utf-8";
/* CSS Document */
@import url("../tree/tree_menu.css");
* {
	margin: 0px;
	padding: 0px;
}
ul, li, ol {
	list-style: none;
}
a {
	color: #003399;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
html{ display:block; width:100%; height:100%; background: #e7e7e7 url(../images/mbg.jpg) top left no-repeat; height:100%; }
body{font-family:Arial,"新細明體"; font-size:12px; line-height:20px; background:url(../images/mbg02.jpg) right bottom no-repeat; height:100%;}
input,select,textarea { border: 1px solid #487F3C; color: #333;}

.logobox{ height:73px; background:url(../images/mantop_02.png) left top no-repeat;}
.logobox span{ float:right; margin-right:35px;}
.topbut01{ width:61px; height:21px; background:url(../images/mantop_05.jpg) no-repeat; margin-right:20px; border:none; margin-top:26px;cursor:pointer;}
.topbut02{ width:81px; height:21px; background:url(../images/mantop_space.jpg) no-repeat; border:none; margin-top:26px;}
.centerbox{ margin-left:10px; margin-right:10px;}

#left { float:left;width: 209px;}
#right {	padding:10px 10px 10px 10px; overflow-y: hidden;}
.leftbox{ width:190px; min-height: 500px;margin-left:10px; background:url(../images/_07.jpg) repeat-y;}
.rightbox{ border:solid 1px; border-top-color:#416739; border-right-color:#d1d1d1; border-bottom-color:#d1d1d1; border-left-color:#95a891; background-color:#FFF;}
.rbgtc01{ background:url(../images/rbgtc_06.jpg) top repeat-x;}
.rbgtc02{ min-height: 520px;background:url(../images/rgb.png) left repeat-y;}
.mag001{ margin:30px 15px;}
.title{ font-size:20px; font-family:Arial, Helvetica, sans-serif,"黑体"; background:url(../images/wan_14.png) left center no-repeat; height:30px; line-height:30px; margin-bottom:10px; padding-left:13px; color:#c4c4c4; border-bottom:dotted 1px #c3c3c3; font-weight:bold;}
.mag001 .title {}
.search a{ text-indent:0px;display:block; width:94px; height:27px; background:url(../images/wan_26.jpg) no-repeat; text-align:center; line-height:27px; color:#417336;}
.search a:hover{ color:#f3630c;text-decoration: none;}
.search {
	margin-bottom: 10px;
	background: #EAF3E2;
	text-indent: 10px;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
}
.search select {
	margin-right: 5px;
	margin-left: 5px;
}
/************  ***************/
.Admin_L {
	margin-bottom: 6px;
	border-top: 1px solid #87C779;
	border-right: 1px solid #87C779;
	border-left: 1px solid #87C779;
	/*width: 99%;
	+width: 98%;*/
	width: 100%;
}
.Admin_L th {
	/*background:url(../images/wan_32.jpg) top repeat-x;*/
	background:url(../images/wan_32.jpg) bottom repeat-x; 
	font-size:13px; color:#417336; line-height:25px; height:38px;
	font-weight: normal;
}
.Admin_L .T_title {
	text-align: left;
	text-indent: 10px;
}
.Admin_L .N_title {
	text-align: left;
	text-indent: 10px;
}
.Admin_L .N_title a {
	color: #000067;
}
.Admin_L .N_input {
	border: 1px solid #b1cbe3;
}
.Admin_L td {
	text-align: center;
	border-bottom: 1px solid #87C779;
	padding: 8px 0;
}
.Admin_L .Ls2 td {
	background: #F4F8F5;
}
.Admin_L .fb_time {
	color: #919191;
}
.Admin_L .E_bd a {
	color: #339EFF;
}
.Admin_L .E_bd a:hover {
	color: #FF0000;
}
.sub2 {
	background: #87C779;
	border: 1px solid #487F3C;
	color: #FFF;
	cursor:pointer;
} 
/************ page ***************/
.news-viewpage {
	margin-top: 10px;
	padding-bottom: 10px;
	height:25px;
}
.news-viewpage .page-left{float: right;background:url(../images/wan_43.jpg) no-repeat; height:23px; width:16px;}
.news-viewpage .page-content{float: right;background:url(../images/wan_45.jpg) repeat-x; height:23px;}
.news-viewpage .page-right{float: right;background:url(../images/wan_47.jpg) no-repeat; height:23px; width:12px;}
.news-viewpage span, .news-viewpage a {
	display: inline;
	padding: 2px 4px;
	margin-right: 3px;
	margin-left: 3px;
	text-align: center;
	color:#417336;
}
.news-viewpage a:hover{ color:#F00;}
.news-viewpage  em {
	background: #87C779;
	display: inline;
	padding: 1px 7px;
	margin-right: 4px;
	margin-left: 4px;
	text-align: center;
	color: #fff;
}
/************spark add***************/
.tab {
	margin-bottom: 6px;
	border-top: 1px solid #87C779;
	border-right: 1px solid #87C779;
	border-left: 1px solid #87C779;
	width: 100%;
	text-indent:5px;
}
.tab th {
	background:url(../images/wan_32.jpg) top repeat-x; height:38px;
	font-size:13px; color:#417336; line-height:25px;
	font-weight: normal;
	/*line-height: 21px;
	height: 0px;
	color: #2D5175;
	border-bottom: 2px solid #C8DEF8;
	background: #badcff;*/
}
.tab .N_title {
	text-align: left;
	text-indent: 10px;
}
.tab .N_title a {
	color: #000067;
}
.tab .T_title {
	text-align: left;
	text-indent: 10px;
}

.tab td {
	text-align: left;
	/*background: #FFFFFF;*/
	border-bottom: 1px solid #87C779;
	padding-top: 7px;
	padding-bottom: 7px;
}
.tab .Ls2 td {
	background: #F4FAFF;
}
.tab .fb_time {
	color: #919191;
}
.tab .E_bd a {
	color: #339EFF;
}
/************  ***************/

#CNLTreeMenu1 .dq {
	color: #fff;
	text-decoration: none;
	background: #0069D2;
	line-height: 20px;
	width: 95%;
}
#CNLTreeMenu1 .dq a {
	color: #fff;
}


.sub-search1 {
	line-height: 19px;
	color: #333;
	background: url(../images/sub-search.gif) no-repeat 10px;
	text-align: center;
	display: inline-block;
	height: 19px;
	width: 55px;
	font-size: 12px;
	font-weight: normal;
}
.sub-search1:hover {
	color: #333;
	text-decoration: none;
}


.Pagetion {
	line-height: 30px;
	text-align: center;
}
.Pagetion a {
	padding-right: 4px;
	padding-left: 4px;
}
.Pagetion span a {
	font: 14px "Times New Roman", Times, serif;
}
.Pagetion em {
	font-style: normal;
	color: #3366FF;
	margin-right: 3px;
	margin-left: 3px;
}
.N_tra {
	width: 500px;
	vertical-align: middle;
	height: 50px;
	border: 1px solid #b1cbe3;
}
.Admin_L select {
	margin-right: 5px;
	margin-left: 5px;
}

.CNLTreeMenu img.s {cursor:pointer;vertical-align:middle;}
.CNLTreeMenu ul {padding:0;}
.CNLTreeMenu li {
	list-style:none;
	padding:2px 0;
}
.Closed ul {display:none;}
.Child img.s {background:none;cursor:default;}

#CNLTreeMenu1 ul {
	margin:0 0 0 7px;
}
#CNLTreeMenu1 img.s {width:20px;height:15px;}
#CNLTreeMenu1 .Opened img.s {background:url(skin/opened.gif) no-repeat 0 0;}
#CNLTreeMenu1 .Closed img.s {background:url(skin/closed.gif) no-repeat 0 0;}
#CNLTreeMenu1 .Child img.s {background:url(skin/child.gif) no-repeat 3px 5px;}

/*CNLTreeMenu End*/

/*Temp CSS for View Demo*/
#CNLTreeMenu1 {
	margin:3px;
	padding:3px;
}
#CNLTreeMenu1 {
	padding-bottom:15px;
	width: 100%;
}
.ViewCode {
 clear:both;
 border:1px solid #FFB900;background:#FFFFCC;color:inherit;margin:3px;padding:3px;
}
.ViewCode h6 {color:#00f;}

.none {
	border: 0px solid #b1cbe3;
}

