@charset "utf-8";
@import url("reset.css");

body{font-family:Arial,"新細明體"; font-size:12px; line-height:20px;  background-color:#efefef; color:#242424;}
.clearfloat{ clear:both;}

.box{ margin:0px auto;width:1024px;}
.top1 { height:47px; background:url(../images/88_02.jpg) no-repeat;}
.top2 { height:47px; background:url(../images/88_04.jpg) no-repeat;}
.top3 { height:57px; background:url(../images/88_05.jpg) no-repeat;}

.buttom1 { height:62px; background:url(../images/88_21.jpg) no-repeat;}
.buttom1  .txt { float:left; margin-left:600px;color:red;}
.buttom2 { height:66px; background:url(../images/88_22.jpg) no-repeat;}
.buttom3 { height:46px; background:url(../images/88_23.jpg) no-repeat;}
#mianbox{ width:1024px; height:247px; background:url(../images/88_06.png) no-repeat;}

.contentbox{width:241px; float:right; margin-right:185px; margin-top:50px;}
.titlebox{ background:url(../images/ii_12.png) left center no-repeat; padding-left:15px; height:20px; line-height:20px; margin-top:10px;}
.titleys01{ font-size:13px; color:#2e302e;}
.titleys02{ font-size:13px; color:#9e9e9e;}
.inputbox input{ display:block; width:191px; height:21px; margin:0px; border:none; background:url(../images/bb_08.png) no-repeat; padding:0px 5px; font-weight:bold; color:#437d35;}
.inputbox02 { float: left;}
.inputbox02 input{ display:block; width:112px; height:21px; margin:0px; border:none; background:url(../images/bt_08.png) no-repeat; padding:0px 5px; font-weight:bold; color:#437d35; float:left;}
.inputbox02 div{ margin-left:6px;float:left;}
.inputbox03 input{ display:block; width:69px; height:25px; margin:0px; border:none; background:url(../images/btn_11.png) no-repeat; padding:0px; margin-top:10px; float:left;}
.inputbox04 input{ display:block; width:69px; height:25px; margin:0px; border:none; background:url(../images/btn_13.png) no-repeat; padding:0px; margin-top:10px; float:left; margin-left:10px;}
