<div class="div2"><img src="<?php echo base_url()?>assets/home/ailogo1.png" style="position: relative; top: -14px;" />
	  
	  <a style="text-decoration: none; color: #FFFFFF;" href="<?php echo base_url()?>index.php/main"><span ></span></a></div>
	  <div class="header_thr" style='float:left;font-size:20px;padding-top:10px'><span style="position: relative; top: 0px;left:0px;">　　　　【用戶代號:6102001  名稱:test:201901　統編:60116299】　　　　　</span></div>
		 <img src="<?php echo base_url()?>assets/home/ailogo-5.png" onclick=" location = 'display'" style="position: relative; top: 0px;left:0px;float:left;" />&nbsp;<a style="text-decoration: none; color: #FFFFFF;" href="<?php echo base_url()?>index.php"></a>
		 
		 <img src="<?php echo base_url()?>assets/home/ailogo-3.png" onclick=" location = 'display'" style="position: relative; top: 0px;left:0px;" />&nbsp;<a style="text-decoration: none; color: #FFFFFF;" href="<?php echo base_url()?>index.php"></a>
		 <img src="<?php echo base_url()?>assets/home/ailogo-2.png" onclick=" location = 'display'" style="position: relative; top: 0px;left:5px;" />&nbsp;<a style="text-decoration: none; color: #FFFFFF;" href="<?php echo base_url()?>index.php"></a>
		 <img src="<?php echo base_url()?>assets/home/ailogo-4.png" onclick=" location = 'display'" style="position: relative; top: 0px;left:0px;" />&nbsp;<a style="text-decoration: none; color: #FFFFFF;" href="<?php echo base_url()?>index.php"></a>
		 <img src="<?php echo base_url()?>assets/home/ailogo-1.png" onclick=" location = 'display'" style="position: relative; top: 0px;left:10px;" />&nbsp;<a style="text-decoration: none; color: #FFFFFF;" href="<?php echo base_url()?>index.php"></a>
		<div class="div3"> 
		</div>
